{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Please Sign In</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>

            <label class="mt-5" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="button-group">
                <div class="d-flex align-item-center justify-content-around">
                    <button class="btn btn-lg btn-primary mt-5 me-5" type="submit">
                        Sign in
                    </button>
                    <a href="{{ path('app_register') }}" class="btn btn-lg btn-success mt-5">
                        Don't have an account yet ?
                    </a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
