{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-8">
                <h1>My tasks</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>LimitDate</th>
                        <th>CreatedAt</th>
                        <th>Users associated</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        {% if not task.status is same as 'Finie' %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.author ? task.author.firstname ~ ' ' ~ task.author.lastname : 'Unknown' }}</td>
                            <td>{{ task.category }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.limitDate ? task.limitDate|date('d-m-Y') : '' }}</td>
                            <td>{{ task.createdAt ? task.createdAt|date('d-m-Y') : '' }}</td>
                            <td>
                                {% if task.users is not empty %}
                                    {% for user in task.users %}
                                        <p>{{ user.firstname }} {{ user.lastname }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>Aucun utilisateur associé</p>
                                {% endif %}
                            </td>
                            <td>
                                <div class="button-group">
                                    <a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn btn-info me-3">
                                        <i class="fa-regular fa-circle-question"></i>
                                    </a>
                                    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-secondary me-3">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="d-inline">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-end">ADD A TASK <i class="fa-solid fa-arrow-right-long"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-4 border-start border-dark">
                <h1>Add new Task</h1>

                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.category) }}
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.status) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.priority) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.limitDate) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.createdAt) }}
                    </div>
                </div>
                <h4>Users available :</h4>
                <div class="d-flex flex-wrap">
                    {% for user in form.users %}
                        <div class="me-3">
                            {{ form_row(user) }}
                        </div>
                    {% endfor %}
                </div>
                    <button class="btn btn-success me-5 mb-5">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
