{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ task.name }}</h1>

        {% include 'details.html.twig' %}

        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Users associated</th>
                <td>
                    {% if task.users is not empty %}
                        {% for user in task.users %}
                            <p>{{ user.firstname }} {{ user.lastname }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Aucun utilisateur associé</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary me-2" href="{{ path('app_task_index') }}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>

    </div>
{% endblock %}
