{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ task.name }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ task.category }}</td>
            </tr>
            <tr>
                <th>LimitDate</th>
                <td>{{ task.limitDate ? task.limitDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ task.createdAt ? task.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ task.updatedAt ? task.updatedAt|date('d-m-Y') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary me-2" href="{{ path('app_task_index') }}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>

    </div>
{% endblock %}
